@import './variables';


.nav {
  ul {
    list-style: none;
    background-color: $white;
    font-size: 12px;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  li {
    font-family: 'Oswald', sans-serif;
    line-height: 20px;
    height: 20px;
  }

  a {
    text-decoration: none;
    color: $red;
    display: block;
    transition: .3s background-color;
  }

  a:hover {
    background-color: $red;
    color: $white;
  }
}

@media screen and (min-width: 735px) {
  .nav {
    border-bottom: 1px solid $gray;

    ul {
      display: flex;
      justify-content: flex-end;
      flex-flow: row nowrap;

      li:first-child {
        margin-right:auto;
      }
    }

    li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
  }
}
